.navlogin {
    height: 70px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    color: white;
    display: flex;
    justify-content: center;
    justify-content: space-between;

}