.navbar {
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;

}

.navContainer {
    width: 100vw;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 500;
}

.navButton {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
    border-radius: 5px;

}

.iconUser {
    margin-right: 20px;
    font-size: 25px;

}

.textRegister {
    margin-right: 20px;
}

.textQuestion {
    margin-right: 40px;
    font-size: 20px;
}

.iconBanderaColombia {
    margin-right: 40px;
    margin-top: 5px;
    font-size: 10px;
}

.textCop {
    margin-right: 40px;

}