.newUserContainer {
    max-width: 400px;
    margin: 65px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.newUserContainer h1 {
    text-align: center;
    margin-bottom: 20px;
}

.formInput {
    margin-bottom: 15px;
}

.formInput label {
    display: block;
    margin-bottom: 5px;
}

.formInput input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.Btn_Register {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Btn_Register:hover {
    background-color: #0056b3;
}

.text-container {
    display: flex;
    flex-direction: column;
    /* Para que los textos estén uno debajo del otro */
    align-items: center;
    /* Centrar verticalmente */
    justify-content: center;
    /* Centrar horizontalmente */
    height: 150px;
    /* O el alto que necesites */
    text-align: center;
    /* Asegura que el texto esté centrado horizontalmente */
    padding: 20px;
    /* Espacio alrededor del texto, si lo deseas */
    font-size: 12px;
    line-height: 4px;
}

.navlogin {
    height: 70px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    color: white;
    display: flex;
    justify-content: center;
    justify-content: space-between;

}

.admin {
    margin-top: 10px;
    margin-right: 5px;
}

.logo {
    margin-top: 10px;
    margin-right: 5px;
}